html, body {
    display:flex;
    justify-content:center;
    margin: 2% 2% 2% 2%;
    max-width: 500px;
    padding: 0;
    background: #1F2937;
    margin: auto;
}
.container{
    max-width: 500px;
    position: absolute;
    top: 10%;
    left: 20%;
    transform: translate(-50%, -50%);
}
#F, #L{
    position: absolute;
    width: 354px;
    height: 80px;
    left: 52px;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.025em;
    color: #FFFFFF;
    top: 115px;
}
#L{
    top: 155px;
    color: #4ADF86;
}

#M{
    position: absolute;
    width: 372px;
    height: 28px;
    left: 52px;
    top: 215px;
    color: #D5D4D8;

    font-family: 'jetbrains mono';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    overflow: hidden;

}
input{
    position: absolute;
    width: 192px;
    height: 35px;
    left: 52px;
    top: 285px;
    color: white;
    text-align: center;
    border: 0;
    background: #273549;
    border-radius: 6px;
    font-family: 'jetbrains mono';
}
button{
    font-size: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px 17px 9px 15px;
    gap: 12px;
    position: absolute;
    width: 191px;
    height: 55px;
    left: 315px;
    top: 275px;
    background: #10B981;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    font-weight: bold ;
}
hr{
    position: absolute;
    width: 446px;
    height: 0px;
    left: 52px;
    top: 350px;
    border: 1px solid #2F3E53;
}
#Le, #Ri{
    position: absolute;
    width: 211px;
    height: 39px;
    top: 390px;
    background: #273549;
    border-radius: 6px;
    position: absolute;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    color: #55F991;
    left: 52px;
}
#Ri{
    left: 287px;
}
#snackBar{
    position: absolute;
    top: 600px;
    left: 250px;
    min-width: 200px;
    background-color: #434040;
    color: white;
    text-align: center;
    border-radius: 5px;
    padding: 16px;
    z-index: 1;
    font-size: 17px;
    font-family: "jetbrains mono";
    visibility: hidden;
}
#snackBar.show{
    visibility: visible;
}
